Group/Title	Username	Password	URL	AutoType	Created Time	Password Modified Time	Last Access Time	Password Expiry Date	Password Expiry Interval	Record Modified Time	Password Policy	Password Policy Name	History	Run Command	DCA	Shift+DCA	e-mail	Protected	Symbols	Keyboard Shortcut	Notes
delyan__group.delyan__title	delyan__username	delyan__password	delyan__url		2018/05/20 16:20:53								00000		-1	-1	delyan__email	N			"delyan__notes"
